---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../components/icons/LinkedinIcon.astro';
---

<Layout title="Bastian's Blog">
	<main>
		<section class=" w-full w-[740px] mx-auto lg:w-[740px] py-44">
			<img  class="rounded-full w-12 h-12 mb-4"
			src="https://th.bing.com/th/id/OIP.EA9angBkH62Aemz70-YahwAAAA?pid=ImgDet&rs=1"
			 alt="sebas photo">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
			Hola soy Sebas<a
			href="https://www.linkedin.com/in/sebastiancabascango"
			target="_blank"
			rel="noreferrer"
			class="flex justify-center items-center"> 
			<Badge>Disponible para trabajar</Badge>
			</a>
		</h1>
		<h2 class="text-xl text-wrap">
			<span>💻 10 años de experiencia.</span>
			<span 
			class="text-yellow-200/90"
			> Desarrollador Web.</span>	

			<span class="text-red-200/90"> De Cotacachi, Ecuador 💚.</span>
			<span class="opacity-75">Especializado en Ciencia de Datos 📊.
			</span>

		</h2>
		<ul>
			<li>
			<a href="https://www.linkedin.com/in/sebastiancabascango" target="_blank"
			>
			<LinkedinIcon class="w-6 h-6"/>
			Linkedin</a>
			</li>
		</ul>
	</section>
	</main>
</Layout>

