---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class=" w-full w-[740px] mx-auto lg:w-[740px] py-44">
			<img  class="rounded-full w-12 h-12 mb-4"
			src="https://th.bing.com/th/id/OIP.EA9angBkH62Aemz70-YahwAAAA?pid=ImgDet&rs=1"
			 alt="sebas photo">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
			Hola soy Sebas
			<a
			href="https://www.linkedin.com/in/sebastiancabascango"
			 class="flex justify-center items-center"> 
				<Badge>Disponible para trabajar
				</Badge></div>
		</h1>
		<h2 class="text-xl opacity-80">10 años de experiencia. Desarrollador Web.
			De Cotacachi, Ecuador 💚.
			Especializado en Ciencia de Datos 📊.

		</h2>
		<ul></ul>
	</section>
	</main>
</Layout>

